__pycache__/main.cpython-313.pyc
data.txt
db.sqlite3
db.sqlite3-wal
db.sqlite3-shm
database.sqlite3
database.sqlite3-shm
database.sqlite3-wal
__pycache__/Cbot.cpython-313.pyc
.env
__pycache__/mongoconnection.cpython-313.pyc
static/apikey.txt
