<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Training section</title>
</head>

<body>
    <h1>Train your bot</h1>
    <p id="dirs" hidden>{{dirs}}</p>
    <button onclick="listDirs()">list</button>

    <!--fpath eli input kentän sisältö lähetetään parametrina readfile funktiolle.-->
    <form action="/readFile/{{fpath}}">
        <input type="text" placeholder="filepath" name="fpath" id="fpath">
        <button class="button-42">Read file</button><br>
        <label for="createTrainingData">Add own data</label>
        <input type="checkbox" id="createTrainingData"
            onchange="createTextBox(document.getElementById('createTrainingData').checked)">
    </form>
    <form action="/createQuestion">
        <div id="dataField" hidden>
            <textarea id="tbox" name="tbox">{{response}}</textarea>
            <br>
        </div>
    </form>

    <form action="/uploadFile/{{file}}" method="post" enctype="multipart/form-data">

        <h2>Upload file</h2>

        <input type="file" id="file" name="file">
        <button>Upload file</button>
        </div>

    </form>
    <form action="/uploadDraggedFile/{{output}}" method="post" enctype="multipart/form-data">
        <div id="drop-zone" class="drop-zone">
            <h3>Drag file</h3>
            <p id="output" name="output"></p>
            <input type="file" id="fileInput" name="fileInput">

            <button>Upload dragged file</button>
    </form>
    </div>
    <div>
        <h2>Use Rest-Api</h2>
        <select name="topics" id="topics" onchange="getSelectedOption(document.getElementById('topics'))">
            <option>Select topic</option>
            <option>General history</option>
            <option>War history</option>
        </select>
        <label for="startDate">From:</label>
        <input type="date" id="startDate" name="startDate" onchange="startDate()">
        <button onclick="fetchData()">Fetch</button>
        <br>
        <textarea id="apiText" name="apiText"></textarea>
    
    </div>


    <script src="/static/js/script.js"></script>


</body>

</html>