<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Training section</title>
</head>

<body>
    <h1>Train your bot</h1>
    <div>
        <label for="filePrompt">Use file prompt</label>
        <input type="checkbox" id="filePrompt" onchange="showFilePrompt(document.getElementById('filePrompt').checked)">
        <label for="createTrainingData">Generate data with OpenAI</label>
        <input type="checkbox" id="createTrainingData"
            onchange="createTextBox(document.getElementById('createTrainingData').checked)">
        <label for="fUpload">Upload file</label>
        <input type="checkbox" id="fUpload" onchange="showFileUpload(document.getElementById('fUpload').checked)">
        <label for="api">Use Rest-API</label>
        <input type="checkbox" id="api" onchange="showRestApi(document.getElementById('api').checked)">
    </div>
    <div id="filePromptDiv" hidden>
        <p id="dirs" hidden>{{dirs}}</p>
        <label for="autoComplete">Use autoComplete</label>
        <input type="checkbox" id="autoComplete" name="autoComplete"
            onchange="autoCompleteText(document.getElementById('autoComplete').checked)">

        <!--fpath eli input kentän sisältö lähetetään parametrina readfile funktiolle.-->
        <form action="/readFile" method="post">
            <input type="text" placeholder="filepath" name="fpath" id="fpath">
            <input type="submit" value="Read file"><br>
            <label for="parseFile">Parse file</label>
            <input type="checkbox" id="parseFile" name="parseFile" value="True"
                onclick="showParse(document.getElementById('parseFile').checked)">
            <div id="parse" hidden>
                <input type="text" id="items" name="items" placeholder="separate items with , mark">
        </form>
    </div>
    </div>

    <div id="dataField" hidden>
        <textarea id="tbox" name="tbox">{{response}}</textarea>
        <br>
    </div>

    <div id="fileUpload" hidden>
        <form action="/uploadFile/{{file}}" method="post" enctype="multipart/form-data">
            <h2>Upload file</h2>
            <input type="file" id="file" name="file">
            <button>Upload file</button>

        </form>
    </div>


    <div id="restapi" hidden>
        <h2>Use Rest-Api</h2>
        <select name="topics" id="topics" onchange="getSelectedOption()">
            <option>Select topic</option>
            <option>General history</option>
            <option>War history</option>
            <option>Finance history</option>
        </select>
        <br>
        <label for="apiPromptCB">Write own topic</label>
        <input type="checkbox" id="apiPromptCB" name="apiPromptCB" onchange="writeApiPrompt()">
        <br>
        <input type="text" id="apiPrompt" name="apiPrompt" hidden placeholder="Your topic">
        <label for="startDate">From:</label>
        <input type="date" id="startDate" name="startDate" onchange="startDate()">
        <button onclick="fetchData()">Fetch</button>
        <br>
        <textarea id="apiText" name="apiText"></textarea>

    </div>

    <script src="/static/js/options.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>