<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Training section</title>
</head>

<body>
    <h1>Train your bot</h1>
    <!--fpath eli input kentän sisältö lähetetään parametrina readfile funktiolle.-->
    <form action="/readFile/{{fpath}}">
        <input type="text" placeholder="filepath" name="fpath" id="fpath">
        <button class="button-42">Read file</button><br>
        <label for="createTrainingData">Add own data</label>
        <input type="checkbox" id="createTrainingData"
            onchange="createTextBox(document.getElementById('createTrainingData').checked)">
    </form>
    <form action="/createQuestion">
        <div id="dataField" hidden>
            <textarea id="tbox">{{response}}</textarea>
            <br>
        </div>
    </form>
    <form action="/readDraggedFile/{{file}}" method="post" enctype="multipart/form-data">
    
                <h2>Upload file</h2>
                 
                 <input type="file" id="file" name="file">
                 <button>Upload file</button>
            </div>

    </form>
    <div id="drop-zone" class="drop-zone">
        <h3>Drag file</h3>
        <p id="output" name="output"></p>

    </div>
           

    <script src="/static/script.js"></script>
</body>

</html>